.main-page {
  .grid-container {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
    grid-template-rows: repeat(4, 1fr); /* 4 строки */
    gap: 20px;
    .grid-item {
      background-color: #f0f4f8;
      padding: 35px;
      border-radius: 10px;
      h3 {
        padding: 0;
      }
      p {
        font-size: 16px;
        width: 100%;
        color: #6e9bb8;
        margin-top: 10px;
      }
    }
  }
  .registration-conditions {
    p {
      font-size: 20px;
      width: 100%;
      line-height: 1.5;
      margin-top: 20px;
    }
  }
}
